<%- include('partials/header.ejs') -%>
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="Navbar">
        <ul class="navbar-nav mr-auto">
                <li class="nav-item active ml-5"><a class="nav-link" href="/"><span class="fa fa-home fa-lg"></span> Home</a></li>
                <li class="nav-item ml-5"><a class="nav-link" href="/cars"><span class="fa fa-car fa-lg"></span> Cars</a></li>
                <li class="nav-item ml-5"><a class="nav-link" href="/customer"><span class="fa fa-users fa-lg"></span> Customer</a></li>
                <li class="nav-item ml-5"><a class="nav-link" href="/employee"><span class="fa fa-address-card fa-lg"></span> Employee</a></li>
        </ul>
    </div>
</nav>
<div class="jumbotron jumbotron-fluid">
    <div class="container mx-auto"  style = "width:700px;">
      <h1 class="display-4">AUDI SHOWROOM</h1>
      <p class="lead">The most trusted car company in the world.</p>
    </div>
  </div>
<div class="container">
    <div>
        <ul class="slideshow">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
    </div>
</div>

<%- include('partials/footer.ejs') -%>